# Ignore build artifacts
build/
dist/

# Ignore node modules
node_modules/
docs/

#package.json
package-lock.json
package.json

#logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Postman collection
postman/